<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>ˁ(⦿ᴥ⦿)ˀ</title>
</head>
<body>

{% include 'header.html' ignore missing %}

<br>

<div class="row">
    <div class="col-5">
        <div class="container-fluid">

            {% if airplanes %}
            {% include 'bits/airplanes.html' ignore missing %}
            <br>
            {% endif %}

            {% if engines %}
            {% include 'bits/engines.html' ignore missing %}
            <br>
            {% endif %}

            {% if components %}
            {% include 'bits/components.html' ignore missing %}
            {% endif %}

        </div>
    </div>

    <div class="col-7">
        <div class="container-fluid">

            {% if files %}
            {% include 'bits/files.html' ignore missing %}
            <br>
            {% endif %}

            {% if cycles %}
            {% include 'bits/cycles.html' ignore missing %}
            <br>
            {% endif %}

            {% if flights %}
            {% include 'bits/flights.html' ignore missing %}
            <br>
            {% endif %}

            {% if notifications %}
            {% include 'bits/notifications.html' ignore missing %}
            {% endif %}

        </div>
    </div>
</div>

{% include 'footer.html' ignore missing %}

</body>
</html>
