<ul class="list-group">
    <li class="list-group-item list-group-item-primary"><strong>Airplane{% if airplanes|length > 1 %}s{% endif
        %}</strong></li>

    {% for airplane in airplanes %}
    <a href="/airplane/{{ airplane.id }}"
       class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><b>{{ airplane.registration }}</b>{% if airplane.type %} | {{ airplane.type }}{% endif %}</h5>
            <small class="text-muted">x days ago</small>
        </div>
        <p class="mb-1">
            model: {{ airplane.model }} |
            country of registration: {{ airplane.registration_country }} |
            year of production: {{ airplane.year_of_prod }} |
            s/n: {{ airplane.serial_no }}
            {% if airplane.numFlights and airplane.flightTime and airplane.operationTime %}
                <br>
                number of landings: <strong>{{ airplane.numFlights }}</strong>
                | flight time: <strong>{{ airplane.flightTime|durationFormat }}</strong>
                | operation time: <strong>{{ airplane.operationTime|durationFormat }}</strong>
            {% endif %}
        </p>
        {% if airplane.numNotifications and airplane.numNotifications['sum'] > 0 %}
        <small class="text-muted">Pending notifications:
            {% if True or airplane.numNotifications['info'] > 0 %}info <span class="badge badge-primary badge-pill" style="background-color:green;"> {{ airplane.numNotifications['info'] }} </span>{% endif %}
            {% if True or airplane.numNotifications['warning'] > 0 %}warning <span class="badge badge-primary badge-pill" style="background-color:coral;">{{ airplane.numNotifications['warning'] }}</span>{% endif %}
            {% if True or airplane.numNotifications['urgent'] > 0 %}urgent <span class="badge badge-primary badge-pill" style="background-color:crimson;">{{ airplane.numNotifications['urgent'] }}</span>{% endif %}
        </small>
        {% endif %}
    </a>
    {% endfor %}
</ul>