<ul class="list-group">
    <a href="{% if engines|length > 0 %}/csv/c/{{ engines[0].id }} {% else %}#{% endif %}"
       class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
        <strong>Cycles</strong>
        <span class="badge badge-primary badge-pill" style="background-color:#084298;">{{ cycles|length }}</span>
    </a>

    <script language="javascript">
        function toggleNotification(notificationId) {
            // TODO toggle notification check via API

            var e = document.getElementById('notification'+notificationId);
            var bgColor = e.style.backgroundColor;
            if(bgColor == 'green') {
                e.style.backgroundColor = 'orange';
                e.innerHTML = 'Pending';
            } else {
                e.style.backgroundColor = 'green';
                e.innerHTML = 'Checked';
            }
        }

        function formatTs(ts) {
            date = new Date(ts * 1000); // to webbrowser's local TZ
            var month = date.getMonth()+1;
            var day = date.getDate();
            var hour = date.getHours();
            var min = date.getMinutes();
            var sec = date.getSeconds();

            const zeroPad = (num, places) => String(num).padStart(places, '0');

            return date.getFullYear() + "-" + zeroPad(month, 2) + "-" + zeroPad(day, 2) + " " + zeroPad(hour, 2) + ":" + zeroPad(min, 2) + ":" + zeroPad(sec, 2);
        }

        function toggleNotificationsView(cycleId) {
            var notificationsElement = document.getElementById('notifications'+cycleId);
            if (notificationsElement.style.display == "none") {
                var request = new XMLHttpRequest();
                request.open('GET', '/api/notifications/cycle/'+cycleId, true);
                request.onload = function () {
                    var data = JSON.parse(this.response);
                    if (data.length > 0) {
                        var html = "";
                        data.forEach((notification) => {
                            var color = 'green';
                            var status = 'Checked';
                            if(!notification.checked) {
                                color = 'orange';
                                status = 'Pending';
                            }

                            var notifType = '';
                            var notifColor = '';
                            var notifHint = '';
                            switch(notification.type) {
                                case 1:
                                    notifType = 'ⓘ';
                                    notifColor = 'green';
                                    break;
                                case 3:
                                    notifType = '⍖';
                                    notifColor = 'orange';
                                    notifHint = 'value below limit';
                                    break;
                                case 4:
                                    notifType = '⍏';
                                    notifColor = 'orange';
                                    notifHint = 'value above limit';
                                    break;
                                case 5:
                                    notifType = '⌿';
                                    notifColor = 'orange';
                                    notifHint = 'value out of range';
                                    break;
                                case 254:
                                    notifType = 'ⓦ';
                                    notifColor = 'crimson';
                                    break;
                                case 5:
                                    notifType = 'Ⓤ';
                                    notifColor = 'crimson';
                                    break;
                                default:
                                    notifType = 'UNDEF';
                                    notifColor = '#007bff';
                            }
                            var notifElement = '<span class="badge badge-primary badge-pill" style="background-color:'+notifColor+'" data-toggle="tooltip" title="'+notifHint+'">'+notifType+'</span>&nbsp;';

                            html += notifElement + '<span class="badge badge-primary badge-pill" style="background-color:' + color + ';cursor: pointer;" onClick="toggleNotification(' +notification.id+ ');" id="notification'+notification.id+'">' + status + '</span>&nbsp;'
                                 + "<small>" + notification.start_ts_str + " &rarr; " + notification.end_ts_str + ":</small>&nbsp;" + notification.message + '<br>';
                        });

                        var element = document.getElementById('notification'+cycleId);
                        element.innerHTML = html;

                        notificationsElement.style.display = "block";
                    }
                }
                request.send()

            } else {
                notificationsElement.style.display = "none";
            }
        }
    </script>

    {% for cycle in cycles %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ cycle.fileName }}&emsp;
            <small class="text-muted">
                id: {{ cycle.id }}
                &nbsp;<span class="badge badge-primary badge-pill" style="background-color:{% if not cycle.NGlimL %}green{% else %}crimson{% endif %};">NG lim</span>
                &nbsp;<span class="badge badge-primary badge-pill" style="background-color:{% if not cycle.NPlimL %}green{% else %}crimson{% endif %};">NP lim</span>
                &nbsp;<span class="badge badge-primary badge-pill" style="background-color:{% if not cycle.ITTlimL %}green{% else %}crimson{% endif %};">ITT lim</span>
                &nbsp;<span class="badge badge-primary badge-pill" style="background-color:{% if not cycle.TQlimL %}green{% else %}crimson{% endif %};">TQ lim</span>
                &nbsp;<span class="badge badge-primary badge-pill" style="background-color:{% if not cycle.OilPlimL %}green{% else %}crimson{% endif %};">OilP lim</span>
                &nbsp;<span class="badge badge-primary badge-pill" style="background-color:{% if not cycle.FuelPlimL %}green{% else %}crimson{% endif %};">FuelP lim</span>
                &nbsp;<span class="badge badge-primary badge-pill" style="background-color:{% if not cycle.FireWarning %}green{% else %}crimson{% endif %};">Fire Warn</span>
                {#
                &nbsp;| ITTOpMax: {% if cycle.ITTOpMax %}<b>{{ "%.f"|format(cycle.ITTOpMax) }}</b>{% endif %}&deg;C
                &nbsp;| ITTSUmax: {% if cycle.ITTSUmax %}<b>{{ "%.f"|format(cycle.ITTSUmax) }}</b>{% endif %}&deg;C
                &nbsp;| ITTSUgrad: {% if cycle.ITTSUgrad %}<b>{{ "%.f"|format(cycle.ITTSUgrad) }}</b>{% endif %}&deg;C
                #}
                 | <a href="/chart/{{ cycle.engine_id }}/c/{{ cycle.id }}">flight chart</a>
                {% if cycle.notificationOverview %}
                 | <span class="badge badge-primary badge-pill"
                         style="background-color: {% if cycle.notificationOverview.numUnchecked > 0 %}orange{% else %}#f8f9fa{% endif %};; cursor: pointer;"
                         data-toggle="tooltip" data-placement="top" title="Info/Warning/Urgent"
                         onclick="toggleNotificationsView({{ cycle.id }})">
                        Notifications {% if cycle.notificationOverview %}({{cycle.notificationOverview.infoCount}}/{{cycle.notificationOverview.warnCount}}/{{cycle.notificationOverview.urgentCount}}){% endif %}
                   </span>
                {% endif %}
            </small>
            <div class="card" id="notifications{{ cycle.id }}" style="margin-top:10px;display:none;">
                <div class="card-body" id="notification{{ cycle.id }}">
                    Loading..
                </div>
            </div>
        </span>
    </li>
    {% endfor %}
</ul>